.centered {
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}

button {
  padding: 1em 2em 1em 2em;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
